body {
	padding: 0;
	margin: 0;
}

#dropBox {
	position: relative;
	text-align: center;
	height:100vh;
	width: 100%;
}

#roomGen:hover {
	background-color: yellow;
}

#dropRegion {
	border: 1px dashed #BCB8CC;
	position: absolute;
	line-height: 500px;
	font-family: Arial;
	font-size: 25px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -250px;
	height: 500px;
	width: 500px;
}

#dropRegion:hover {
	border-color: #8D8A99;
}