body {
	padding: 0;
	margin: 0;
}

#dropBox {
	box-sizing: border-box;
	position: relative;
	height:100vh;
	width: 100%;
}

#dropRegion {
	border: 1px dashed #BCB8CC;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -250px;
	height: 500px;
	width: 500px;
}

#dropRegion:hover {
	border-color: #8D8A99;
}